/*--------------------------------
  Base
---------------------------------*/

body {
  text-align: center;
  h1,
  p {
    margin: 0;
  }
}

.container {
  width: 100%;
  padding: 160px 0px;
  position: relative;
  background-color: ffffff;
  &__block {
    @extend .centerxy;
  }
}
