/*--------------------------------
  Site settings
---------------------------------*/

/*--------------------------------
  Spacing
---------------------------------*/

/*--------------------------------
  Colors
---------------------------------*/
$white: #ffffff;
$snow: #f2f3f3;
$gray: #484848;
/*--------------------------------
  Fonts 
---------------------------------*/
